@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#pscolor article,
#pscolor aside,
#pscolor details,
#pscolor figcaption,
#pscolor figure,
#pscolor footer,
#pscolor header,
#pscolor hgroup,
#pscolor main,
#pscolor nav,
#pscolor section,
#pscolor summary {
  display: block;
}
#pscolor audio,
#pscolor canvas,
#pscolor progress,
#pscolor video {
  display: inline-block;
  vertical-align: baseline;
}
#pscolor {
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #646C77;
  display: block;
  width: 400px;
  border: 1px solid #EBEEF2;
  padding: 3px;
  border-radius: 5px;
}
#pscolor audio:not([controls]) {
  display: none;
  height: 0;
}
#pscolor a {
  background: transparent;
}
#pscolor abbr[title] {
  border-bottom: 1px dotted;
}
#pscolor dfn {
  font-style: italic;
}
#pscolor h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
#pscolor mark {
  background: #ff0;
  color: #000;
}
#pscolor small {
  font-size: 80%;
}
#pscolor sup {
  top: -0.5em;
}
#pscolor sub {
  bottom: -0.25em;
}
#pscolor img {
  border: 0;
}
#pscolor svg:not(:root) {
  overflow: hidden;
}
#pscolor figure {
  margin: 1em 40px;
}
#pscolor hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
#pscolor pre {
  overflow: auto;
}
#pscolor button {
  overflow: visible;
}
#pscolor input {
  max-width: 60px;
  line-height: normal;
  font-size: 80%;
}
#pscolor input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#pscolor fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
#pscolor legend {
  border: 0;
  padding: 0;
}
#pscolor textarea {
  overflow: auto;
}
#pscolor optgroup {
  font-weight: bold;
}
#pscolor table {
  border-collapse: collapse;
  border-spacing: 0;
}
#pscolor [hidden],
#pscolor template {
  display: none;
}
#pscolor a:active,
#pscolor a:hover {
  outline: 0;
}
#pscolor b,
#pscolor strong {
  font-weight: bold;
}
#pscolor sub,
#pscolor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#pscolor code,
#pscolor kbd,
#pscolor pre,
#pscolor samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

#pscolor button,
#pscolor select {
  text-transform: none;
}
#pscolor button,
#pscolor html input[type="button"],
#pscolor input[type="reset"],
#pscolor input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
#pscolor button[disabled],
#pscolor html input[disabled] {
  cursor: default;
}
#pscolor button::-moz-focus-inner,
#pscolor input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#pscolor input[type="checkbox"],
#pscolor input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
#pscolor input[type="number"]::-webkit-inner-spin-button,
#pscolor input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
#pscolor input[type="search"]::-webkit-search-cancel-button,
#pscolor input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
#pscolor td,
#pscolor th {
  padding: 0;
}
select,
button {
  border-radius: 5px;
  box-shadow: 0;
  padding: 10px;
}
input {
  left-margin: 2px;
  color: gray;
  border: solid darkgray 1px;
  padding: 2px;
  background: #eee;
  margin: 0 0 0 2px;
}
ul#bar {
  padding: 0;
  margin: -4px -4px 10px -4px;
  list-style: none;
  background: #F5F7FA;
  border: 1px solid #EBEEF2;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  color: #A6AEB8;
  cursor: pointer;
}
ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
ul li.active {
  background: -moz-linear-gradient(top, #aab2bc 0%, #aab2bc 5px, #ffffff 5px, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aab2bc), color-stop(5px, #aab2bc), color-stop(5px, #ffffff), color-stop(99%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, #aab2bc 0%, #aab2bc 5px, #ffffff 5px, #ffffff 100%);
  background: -o-linear-gradient(top, #aab2bc 0%, #aab2bc 5px, #ffffff 5px, #ffffff 100%);
  background: -ms-linear-gradient(top, #aab2bc 0%, #aab2bc 5px, #ffffff 5px, #ffffff 100%);
  background: linear-gradient(to bottom, #aab2bc 0%, #aab2bc 5px, #ffffff 5px, #ffffff 100%);
  line-height: 40px;
}
.sliders {
  border-radius: 5px 0 0 0;
  width: 119px;
}
.color-wheel {
  width: 118px;
}
.swatches {
  width: 119px;
}
.close {
  border-radius: 0 5px 0 0;
  width: 38px;
}
#color-boxes {
  padding: 15px;
  height: 70px;
  width: 237px;
  display: inline-block;
}
#color-space {
  display: inline-block;
}
#color-space select,
#swatch-sets {
  border: 1px solid #EBEEF2;
  padding: 3px;
  text-align: right;
  background: white;
  color:#A6AEB8;
}
#color-space-hex {
  width: 55px;
}
#HSB,
#LAB {
  display: none;
}
#swatches {
  margin: 10px 30px 10px 0;
}
#gradient-bar {
  border: 1px solid #ACB4BE;
  margin: 10px 10px 4px 10px;
  width: 375px;
  height: 40px;
}
.row {
  width: 100%;
}
.top-border {
  min-height: 40px;
  padding: 4px;
  margin: 0 -4px;
  border-top: 1px solid lightgray;
}
.strip-down {
    top: 1px;
    z-index: 3;
    position: absolute;
    height: 256px;
    width: 20px;
    border: 1px solid #aaa;
    display: inline-block;
    cursor: ns-resize;
    margin: 6px 0 6px 10px;

    background: -webkit-linear-gradient(down, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
    background: -o-linear-gradient(down, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
    background: -ms-linear-gradient(down, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
    background: -moz-linear-gradient(down, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
    background: -webkit-gradient(down #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
    background: linear-gradient(to bottom, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
 }
@-moz-document url-prefix() {
  .strip-down {
     top: -10px;
  }
}

.strip-down .pscolor_arrs {
    position: relative;
    top: -6px;
    width: 31px;
    height: 10px;
    margin: 0 0 0 -5px;
    pointer-events: none;
}
.strip-down .pscolor_tarr {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #858585;
}
.strip-down .pscolor_barr {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 7px solid #858585;
}
.strip {
  height: 20px;
  width: 256px;
  border: 1px solid #aaa;
  display: inline-block;
  cursor: ew-resize;
  margin: 12px 0 0 10px;
}
.g-right {
    display: inline-block;
    position: relative;
    top: -22px;
}
.t-right {
    text-align: right;
    width: 200px;
}
.t-right input {
    margin: 2px;
}
.dial {
  position: absolute;
  width: 122px;
  text-align: right;
  display: inline-block;
  margin: 12px 0 0 0;
}
#gradient .dial {
    margin: 0;
    width: 128px;
    position: relative;
}
#cw-dials {
  top: -177px;
  display: inline-block;
  position: relative;
  top: -48px;
  left: -10px;
  width: 100px;
}
.cw {
  position: relative;
  margin: 8px 0;
}
.pscolor_arrs {
  position: relative;
  top: -6px;
  width: 7px;
  height: 31px;
  margin: 0 0 0 -5px;
}
.pscolor_tarr {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 7px solid #858585;
}
.pscolor_barr {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 7px solid #858585;
}
#red-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(left, #000000 0%, #ff0000 100%);
  background: -o-linear-gradient(left, #000000 0%, #ff0000 100%);
  background: -ms-linear-gradient(left, #000000 0%, #ff0000 100%);
  background: linear-gradient(to right, #000000 0%, #ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ff0000', GradientType=1);
}
#green-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #00ff00 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #00ff00));
  background: -webkit-linear-gradient(left, #000000 0%, #00ff00 100%);
  background: -o-linear-gradient(left, #000000 0%, #00ff00 100%);
  background: -ms-linear-gradient(left, #000000 0%, #00ff00 100%);
  background: linear-gradient(to right, #000000 0%, #00ff00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0000ff', GradientType=1);
}
#blue-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(left, #000000 0%, #0000ff 100%);
  background: -o-linear-gradient(left, #000000 0%, #0000ff 100%);
  background: -ms-linear-gradient(left, #000000 0%, #0000ff 100%);
  background: linear-gradient(to right, #000000 0%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0000ff', GradientType=1);
}
#hue-grade {
  background: -webkit-linear-gradient(left, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background: -o-linear-gradient(left, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background: -ms-linear-gradient(left, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background: -moz-linear-gradient(left, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background: -webkit-gradient(left #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
  background: linear-gradient(to right, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080, #ff0000);
}
#sat-grade {
  background: -moz-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
}
#bri-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0000ff', GradientType=1);
}
#lum-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: -ms-linear-gradient(left, #000000 0%, #ffffff 100%);
  background: linear-gradient(to right, #000000 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#0000ff', GradientType=1);
}
#ach-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #00ff00), color-stop(100%, #ff00ff));
  background: -webkit-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background: -o-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background: -ms-linear-gradient(left, #00ff00 0%, #ff0000 100%);
  background: linear-gradient(to right, #00ff00 0%, #ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#ffff00', GradientType=1);
}
#bch-grade {
  background: #000000;
  background: -moz-linear-gradient(left, #0000ff 0%, #ffff00 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0000ff), color-stop(100%, #ffff00));
  background: -webkit-linear-gradient(left, #0000ff 0%, #ffff00 100%);
  background: -o-linear-gradient(left, #0000ff 0%, #ffff00 100%);
  background: -ms-linear-gradient(left, #0000ff 0%, #ffff00 100%);
  background: linear-gradient(to right, #0000ff 0%, #ffff00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ffff00', GradientType=1);
}
#gradient {
  width: 400px;
}
#gradient-widget {
  min-height: 150px;
}
.gradient-item {
  -webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 1px #ffffff;
  box-shadow: inset 0px 0px 0px 1px #ffffff;
  height: 8px;
  width: 8px;
  position: absolute;
  border: solid #656D79 1px;
  cursor: column-resize;
}
.gradient-item:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(101, 109, 121, 0);
  border-bottom-color: #656D79;
  border-width: 5px;
  margin-left: -5px;
}
#gradient-widget div.row {
    position:relative;
    top: 20px;
}
.cs_knob_div {
    position: relative;
    top: 5px;
    left: 5px;
    width:90px;
    height:90px;
    text-align:center;
    display: inline-block;
}
.bumper {
  width: 260px;
  position: relative;
  left: 10px;
  line-height: 3em;
  display: inline-block;
  cursor: pointer;
}
.bumper:before {
  position: relative;
  left: -5px;
  top: 5px;
  display: inline-block;
  border-radius: 3px;
  content: '';
  height: 20px;
  width: 20px;
  background: #656D78;
}
#gradient button,
#gradient input:not(.no-style) {
  border-radius: 5px;
  padding: 10px;
  background: #656D78;
  color: #eee;
  box-shadow: none;
  border: none;
}
.swatch {
  height: 17px;
  width: 18px;
  border: 1px solid #B6BDC6;
  margin: 1px;
  display: inline-block;
  background: #EBEEF2;
}
g {
  pointer-events: none;
}
.add-color,
.cycle {
  background: #68707B;
}
.box {
  display: block;
  width: 65px;
  height: 65px;
}
.back {
  z-index: -1;
  background: black;
}
.front {
  position: relative;
  top: -50px;
  left: 15px;
  z-index: 0;
  background: red;
}
.pscolor_color {
  margin: 10px;
  width: 255px;
  height: 255px;
  overflow: hidden;
  outline: 1px solid #aaa;
  cursor: crosshair;
  display: inline-block;
}
.pscolor_color_overlay1 {
  left: 0;
  top: 0;
  width: 255px;
  height: 255px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')";
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#ffffff', endColorstr='#00ffffff');
}
.pscolor_color_overlay2 {
  left: 0;
  top: 0;
  width: 255px;
  height: 255px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')";
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}
.pscolor_selector_outer {
  background: none;
  position: absolute;
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
  border: 1px solid black;
  border-radius: 50%;
  pointer-events: none;
}
.pscolor_selector_inner {
  pointer-events: none;
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
}
[class^="i-"]:before,
[class*=" i-"]:before {
    font-size: 100%;
  position: absolute;
  color: white;
  margin-left: 0.05em;
  line-height: 1.2em;
}
i-cancel:before,
.close:before {
  color: #A6AEB8;
  position: relative;
  top: 8px;
  font-size: 150%;
}
