@font-face {
  font-family: 'small-glyphs';
  src: url('../font/small-glyphs.eot?91313556');
  src: url('../font/small-glyphs.eot?91313556#iefix') format('embedded-opentype'),
       url('../font/small-glyphs.woff?91313556') format('woff'),
       url('../font/small-glyphs.ttf?91313556') format('truetype'),
       url('../font/small-glyphs.svg?91313556#small-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'small-glyphs';
    src: url('../font/small-glyphs.svg?91313556#small-glyphs') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "small-glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-wrench:before { content: '\e801'; } /* '' */
.i-cog:before { content: '\e802'; } /* '' */
.i-cancel:before { content: '\e803'; } /* '' */
.i-plus:before { content: '\e80c'; } /* '' */
.i-minus:before { content: '\e80f'; } /* '' */
.i-cycle:before { content: '\e81a'; } /* '' */