<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />

    <script src="js/jquery.knob.js"></script>
	<link rel="stylesheet" href="css/small-glyphs.css">
	<script src="js/pscolor.js" type="text/javascript"></script>
	<link rel="stylesheet" href="css/pscolor.css" type="text/css" />

    <script type="text/javascript">
        $(function() {
        var options = {
            onChange: function(e) {
                console.log(e);
            },
            onSubmit: function(e) {
                console.log(e);
            },
            onClose: function(e) {
                console.log(e);
            }
        };
        PsColorObject = $('#pscolor').pscolor(options);
        });
    </script>

</head>

<body>
	
		<div id='pscolor'>
		<ul id='bar'>
			<li class='sliders active'>Sliders</li>
			<li class='color-wheel'>Color Wheel</li>
			<li class='swatches'>Swatches</li>
			<li class='close i-cancel'></li>
		</ul>
		<div class='row'>
			<div id='color-boxes'>
				<div class='back box'></div>
				<div class='front box'></div>
			</div>
			<div class='dial'>
				<div id='color-space'>
					<select id='color-type' name='color-type'>
						<option class="rgb">RGB</option>
						<option class="hsb">HSB</option>
						<option class="lab">LAB</option>
					</select>
				</div>
				<p>HEX
					<input name='hex' id='color-space-hex' type='text' value='#' />
				</p>
			</div>
		</div>
			
			
		<div id='color-wheel' style='display: none;'>
            <div class="pscolor_color" >
			    <div class="pscolor_color_overlay1">
				    <div class="pscolor_color_overlay2">
					    <div class="pscolor_selector_outer" style="left: 156px; top: 37px;">
						    <div class="pscolor_selector_inner"></div>
					    </div>
				    </div>
			    </div>
            </div>
            <div id="cw-dials">
                <div class='strip-down' id='cw_hue'>
                    <div class="pscolor_arrs" style="left: 0px;">
                        <div class="pscolor_tarr"></div>
                        <div class="pscolor_barr"></div>
                    </div>
                </div>
                <div id="RGB">
                    <div class='dial cw'>R<input class='red-grade cw-i' type='number' step=1 min=0 max=255 value=0 /></div>
                    <div class='dial cw'>G<input class='green-grade cw-i' type='number' step=1 min=0 max=255 value=0 /></div>
                    <div class='dial cw'>B<input class='blue-grade cw-i' type='number' step=1 min=0 max=255 value=0 /></div>
                </div>
                <div id="HSB">
                    <div class='dial cw'>H<input class='hue-grade cw-i' type='number' step=1 min=0 max=360 value=0 /></div>
                    <div class='dial cw'>S<input class='sat-grade cw-i' type='number' step=1 min=0 max=100 value=0 /></div>
                    <div class='dial cw'>B<input class='bri-grade cw-i' type='number' step=1 min=0 max=100 value=0 /></div>
                </div>
            </div>
		</div>
        <!-- Slider Panels -->
        <div id="sliders">
            <!-- RGB Panel -->
            <div id='RGB'>
                <div class='row'>
                    <div class='strip' id='opac-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>Opacity<input class='opac-grade' type='number' step=1 min=0 max=100 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='red-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>R<input class='red-grade' type='number' step=1 min=0 max=255 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='green-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>G<input class='green-grade' type='number' step=1 min=0 max=255 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='blue-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>B<input class='blue-grade' type='number' step=1 min=0 max=255 value=0 />
                    </div>
                </div>
            </div>
            <!-- // RGB Panel -->
            <!-- HSB Panel -->
            <div id='HSB'>
                <div class='row'>
                    <div class='strip' id='hue-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>H<input class='hue-grade'type='number' step=1 min=0 max=360 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='sat-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>S<input class='sat-grade' type='number' step=1 min=0 max=100 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='bri-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>B<input class='bri-grade' type='number' step=1 min=0 max=100 value=0 />
                    </div>
                </div>
            </div>
            <!-- // HSB Panel -->
            <!-- LAB Panel -->
            <div id='LAB'>
                <div class='row'>
                    <div class='strip' id='lum-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>L<input class='lum-grade' type='number' step=1 min=0 max=100 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='ach-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>A<input class='ach-grade' type='number' step=1 min='-128' max=128 value=0 />
                    </div>
                </div>
                <div class='row'>
                    <div class='strip' id='bch-grade'>
                        <div class="pscolor_arrs" style="left: 0px;">
                            <div class="pscolor_tarr"></div>
                            <div class="pscolor_barr"></div>
                        </div>
                    </div>
                    <div class='dial'>B<input class='bch-grade' type='number' step=1 min='-128' max=128 value=0 />
                    </div>
                </div>
            </div>
            <!-- // LAB Panel -->
        </div>
        <!-- // Slider Panels -->
        <!-- // Swatches -- Left blank intentionally for jquery -->
		<div class='row' id='swatches'>

		</div>
		
		<div id='gradient' class='row top-border'>
            <div id="gradient-container" style="display:none">
				<div id="gradient-widget">
				    <div id="gradient-bar" style="background-image: -webkit-linear-gradient(left,rgb(255, 71, 71) 0%, rgb(109, 24, 24) 100%);"></div>
				    <div id="gradient-items">
                    </div>


                    <div class="row">
                        <div class="cs_knob_div">
                            <input class="cs_knob" value="90">
                        </div>
                        <div class="g-right">
                            Angle<input type="number" class="no-style cs_knob_shadow" value="90" />
                        </div>
                        <div class="g-right t-right">
                            Opacity<input type="number" min=0 max=100 class="no-style opacity" /></br>
                            Location<input type="number" min=0 max=100 class="no-style location"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class='bumper'>Gradient</div>
                <div class='dial'>
                    <input type='submit' value="Cancel" />
                    <input type='submit' value="Apply" />
                </div>
            </div>
		</div>
	</div>
</body>
